*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
}

img{
    display: block;
}

.clearfix::after,
.clearfix::before{
    content: '';
    display: block;
    line-height: 0;
    height: 0;
    visibility: hidden;
    clear: both;
}
.f_l{
    float: left;
}
.f_r{
    float: right;
}